@model CapaEntidad.Cliente

@{
    ViewBag.Title = "Edit";

    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2 class="my-2 text-center text-uppercase">Editar Cliente</h2>

<div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.RncCedula, new { htmlAttributes = new { @class = "form-control", placeholder = "RNC o Cedula" } })
                        @Html.ValidationMessageFor(model => model.RncCedula, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        @Html.DropDownListFor(model => model.Categoria, items, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                        <input type="submit" value="Actualizar" class="btn btn-success btn-block mb-2" />
                    </div>
                    <div class="col">
                        <a href="/Cliente/Index" class="btn btn-outline-dark btn-block">Volver</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
